
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arquivo não encontrado!</title>
</head>
<body>
    <h2>Esse arquivo não foi encontrado. Verifique se a url está correta.</h2>
    <div> 
    </div>
</body>
</html>
