@{
    ViewBag.Title = "Super Simples - Home";
}

<div class="jumbotron">
    <h1>Super Simples</h1>
    <p class="lead">Seja bem-vindo ao projeto Super Simples.</p>
    <p>Você pode começar @Html.ActionLink("cadastrando", "InsertAction", new { area = "ProdutoMovimentacao", controller = "Produto" }, new { @class="" }) um novo produto</p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visualizar Produtos</h2>
        <p>
            No Super Simples você pode visualizar os produtos previamente cadastrados.
        </p>
        <p> @Html.ActionLink("Lista de Produtos", "Index", new { area = "ProdutoMovimentacao", controller = "Produto" }, new { @class = "btn btn-default" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Movimentações</h2>
        <p>A partir de um produto, você pode dar entrada ou saída do mesmo, atualizando seu estoque.</p>
    </div>
    <div class="col-md-4">
        <h2>Relatório</h2>
        <p>O Relatório é gerador a partir de um produto específico, listando todas as suas movimentações dando a possibilidade de filtrar por datas.</p>

    </div>
</div>